.internship-program {
    font-family: Georgia;
    text-transform: uppercase;
    font-weight: bold;
}

.company {
    text-transform: uppercase;
    color: maroon;
    padding-top: 10px;
    padding-bottom: 10px;

}

body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

p {
    font-family: Helvetica;
}